<!DOCTYPE html>
<html>
<title>API Document</title>

<xmp theme="bootstrap" style="display:none;">
{{>markdown}}
</xmp>

<script src="https://cdn.rawgit.com/arturadib/strapdown/gh-pages/v/0.2/strapdown.js"></script>
</html>
